ul.list {
  list-style: none;
  padding: 0;
  position: relative;
  min-height: 50px; /* Ensure drop zone is always visible */
}

ul.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  position: relative;
  min-height: 50px;
}

li.list {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid var(--color-gray-200);
  background: var(--color-bg-container);
  /* transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); */
  &.completed span:not(.drag-handle) {
    text-decoration: line-through;
    color: var(--color-gray-400)
  }
  cursor: pointer;
  /* &.cdk-drag-dragging {
    transition: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  } */
}

li.list:hover {
  background-color: var(--color-bg);
}

li.grid {
  padding: 0.5rem;
  min-width: 10rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray-200);
  box-shadow: 0 1px 2px var(--color-gray-300);
  border-radius: 0.5rem;
  &.completed h4:not(.drag-handle) {
    text-decoration: line-through;
    color: var(--color-gray-400)
  }
  cursor: pointer;
}

.grid-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drag-handle {
  cursor: move;
  margin-right: 0.5rem;
  color: #ccc;
  user-select: none;
}
input[type="checkbox"] {
  margin-right: 1rem;
}
span {
  flex-grow: 1;
}

h4 {
  color: var(--color-text);
  font-weight: 500;
}

span.tag {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-primary);
}

input {
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
}

form {
  display: flex;
  gap: 0.5rem;
  margin-right: 1.8rem;
}

input {
  cursor: pointer;
}

small {
  color: var(--color-placeholder);
  margin-right: 1rem;
}
.close{
  background: transparent;
  border: none;
  color: var(--color-accent);
  font-size: 1.5rem;
  cursor: pointer;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  color: var(--color-placeholder);
}

