ul.list {
  list-style: none;
  padding: 0;
  position: relative;
  min-height: 50px; /* Ensure drop zone is always visible */
}

ul.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  position: relative;
  min-height: 50px;
}

li.list {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
  background: white;
  /* transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); */
  &.completed span:not(.drag-handle) {
    text-decoration: line-through;
    color: #888;
  }
  cursor: pointer;
  /* &.cdk-drag-dragging {
    transition: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  } */
}

li.grid {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(231, 228, 228);
  border-radius: 0.5rem;
  &.completed h4:not(.drag-handle) {
    text-decoration: line-through;
    color: #888;
  }
  cursor: pointer;
}

.grid-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drag-handle {
  cursor: move;
  margin-right: 0.5rem;
  color: #ccc;
  user-select: none;
}
input[type="checkbox"] {
  margin-right: 1rem;
}
span {
  flex-grow: 1;
}

span.tag {
  font-size: 0.8rem;
  font-weight: 600;
  color: hsl(240, 36%, 43%);
}

input {
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
}

form {
  display: flex;
  gap: 0.5rem;
  margin-right: 1.8rem;
}

small {
  color: #666;
  margin-right: 1rem;
}
.close{
  background: transparent;
  border: none;
  color: #f44336;
  font-size: 1.5rem;
  cursor: pointer;
}

.edit{
  background: transparent;
  border: none;
  color: gray;
  font-size: 0.9rem;
  cursor: pointer;
}

.empty {
  text-align: center;
  color: #888;
}


.view-button {
  text-align: end;
  padding: 0.5rem;
  color: rgb(124, 124, 124);
  cursor: pointer;
}