<ul
  #todoList
  cdkDropList
  [cdkDropListData]="todos()"
  [cdkDropListConnectedTo]="[]"
  (cdkDropListDropped)="drop($event)"
>
  @for (todo of todos(); track todo.id; let i = $index) {
  <li
    cdkDrag
    [cdkDragData]="todo"
    [cdkDragBoundary]="todoList"
    [class.completed]="todo.completed"
    [class.cdk-drag-dragging]="todo.dragging"
    (cdkDragStarted)="todo.dragging = true"
    (cdkDragEnded)="todo.dragging = false"
  >
    <input
      type="checkbox"
      [checked]="todo.completed"
      (change)="toggle.emit(todo.id)"
    />
    <span>{{ todo.title }}</span>
    <small>{{ todo.createdAt | date : "mediumDate" }}</small>
    <button class="close" (click)="delete.emit(todo.id)">×</button>
  </li>
  } @empty {
  <li class="empty">No tasks found</li>
  }
</ul>
