<div
  (click)="view.set(view() === 'grid' ? 'list' : 'grid')"
  class="view-button"
>
  {{ view() }}
</div>
<ul
  [class.list]="view() === 'list'"
  [class.grid]="view() === 'grid'"
  #todoList
  cdkDropList
  [cdkDropListData]="todos()"
  [cdkDropListConnectedTo]="[]"
  (cdkDropListDropped)="drop($event)"
>
  @for (todo of todos(); track todo.id; let i = $index) {
  <li
    [class.list]="view() === 'list'"
    [class.grid]="view() === 'grid'"
    (dblclick)="selectTodo.emit(todo.id)"
    cdkDrag
    [cdkDragData]="todo"
    [cdkDragBoundary]="todoList"
    [class.completed]="todo.completed"
    [class.cdk-drag-dragging]="todo.dragging"
    (cdkDragStarted)="todo.dragging = true"
    (cdkDragEnded)="todo.dragging = false"
  >
    @if (view() === 'grid') {
    <h4>{{ todo.title }}</h4>
    <small>{{ todo.createdAt | date : "mediumDate" }}</small>
    <div class="grid-buttons">
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="toggle.emit(todo.id)"
      />
      <button class="close" (click)="delete.emit(todo.id)">×</button>
    </div>
    } @else {
    <input
      type="checkbox"
      [checked]="todo.completed"
      (change)="toggle.emit(todo.id)"
    />
    <span>{{ todo.title }}</span>
    <!-- <span class="tag">{{ todo.tag }}</span> -->
    <small>{{ todo.createdAt | date : "mediumDate" }}</small>
    <button class="close" (click)="delete.emit(todo.id)">×</button>
    }
  </li>
  } @empty {
  <li class="empty">No tasks found</li>
  }
</ul>
