.container {
  width: 600px;
  margin: 2rem;
  margin-top: 4rem;
  padding: 1rem;
  background: var(--color-bg-container);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 4rem;
}

.grid {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.tag {
  border-radius: 0.5rem;
  border: 1.5px solid hsl(0, 4%, 80%);
  padding: 0.5rem 1rem;
}

.view-button {
  text-align: end;
  padding-bottom: 1rem;
  color: rgb(124, 124, 124);
  cursor: pointer;
}
