<div class="grid">
  @if (selectedTodo() && selectedTodo()?.description) {
  <todo-detail
    [title]="selectedTodo()?.title!"
    [tag]="selectedTodo()?.tag!"
    [description]="selectedTodo()?.description!"
  />
  }
  <div class="container">
    <h1>Angular Todo App</h1>
    <todo-form (loadTodos)="loadTodos()" />
    <div
      (click)="view.set(view() === 'grid' ? 'list' : 'grid')"
      class="view-button"
    >
      @if (view() === 'list') {
      <span class="material-symbols-outlined"> apps </span>
      } @else {
      <span class="material-symbols-outlined"> density_medium </span> }
    </div>
    <tabs
      [activeTabInput]="activeTab()"
      (setActiveTab)="setActiveTab($event)"
    />
    <todo-list
      [todos]="todos()"
      [view]="view()"
      (toggle)="toggleTodo($event)"
      (delete)="deleteTodo($event)"
      (reorder)="reorderTodos($event)"
      (selectTodo)="selectTodo($event)"
    />
  </div>
</div>
