form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 1rem;
}

.title-input {
  display: flex;
  gap: 2;
}

input {
  flex-grow: 1;
  padding: 0.8rem 1rem;
  margin-right: 0.3rem;
  border-radius: 0.5rem;
  color: var(--color-text);
  border: 1.5px solid var(--color-gray-300);
}

input::placeholder {
  color: var(--color-placeholder);
}

button {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-gray-100);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-primary-light)
}

textarea {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid hsl(0, 4%, 80%);
}

span {
  font-size: 0.8rem;
  color: hsl(0, 1%, 47%);
  cursor: pointer;
}

span:hover {
  color: hsl(0, 1%, 20%);
}

select {
  margin-right: 0.3rem;
  border-radius: 0.5rem;
  padding-left: 0.2rem;
  cursor: pointer;
  border: solid 1px var(--color-gray-300);
  color: var(--color-placeholder);
}

option {
  cursor: pointer;
}
