<form (ngSubmit)="addTodo()">
  <div class="title-input">
    <input
      type="text"
      [(ngModel)]="title"
      name="title"
      placeholder="Add new task..."
      required
    />
    <select name="tag" [(ngModel)]="tag">
      <option value="important">important</option>
      <option value="reminder">reminder</option>
      <option value="shopping">shopping</option>
      <option value="daily">daily</option>
    </select>
    <button type="submit">
      <span class="material-symbols-outlined add-icon"> add </span>
      <span class="button-text">add todo</span>
    </button>
  </div>
  @if (isDescOpen()) {
  <textarea
    [(ngModel)]="description"
    placeholder="your task description"
    name="description"
  ></textarea>
  <div class="desc-button">
    <span class="material-symbols-outlined add-circle"> cancel </span>
    <span class="desc" (click)="isDescOpen.set(false)">close</span>
  </div>
  } @else {
  <div class="desc-button">
    <span class="material-symbols-outlined add-circle"> add_circle </span>
    <span class="desc" (click)="isDescOpen.set(true)">description</span>
  </div>
  }
</form>
