form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 1rem;
}

.title-input {
  display: flex;
  gap: 2;
}

input {
  flex-grow: 1;
  padding: 0.8rem 1rem;
  margin-right: 0.3rem;
  border-radius: 0.5rem;
  color: var(--color-text);
  border: 1.5px solid var(--color-gray-300);
  accent-color: var(--color-primary);
}

input::placeholder {
  color: var(--color-placeholder);
}

button {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-gray-100);
  border-radius: 0.5rem;
  padding: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
  gap: 0.2rem;
}

button:hover {
  background-color: var(--color-primary-light);
}

textarea {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid hsl(0, 4%, 80%);
}

/* span {
  font-size: 0.8rem;
  cursor: pointer;
} */

span.button-text {
  color: var(--color-gray-100);
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: capitalize;
}

/* 
span:hover {
  color: hsl(0, 1%, 20%);
} */

select {
  margin-right: 0.3rem;
  border-radius: 0.5rem;
  padding-left: 0.2rem;
  cursor: pointer;
  border: solid 1px var(--color-gray-300);
  color: var(--color-placeholder);
}

option {
  cursor: pointer;
}

option:hover {
  background-color: var(--color-primary-light);
  accent-color: var(--color-primary-light);
  color: var(--color-gray-100);
}

.add-icon {
  font-size: 20px;
  color: aliceblue;
}

.desc-button {
  display: flex;
  gap: 0.3rem;
  padding: 0.2rem;
  align-items: center;
  color: var(--color-placeholder);
  cursor: pointer;
}

.desc-button:hover {
  color: var(--color-gray-600);
}

.desc {
  font-size: 1rem;
}

.add-circle {
  font-size: 0.9rem;
}